@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/Gilroy-ExtraBold.eot');
	src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
		url('../fonts/Gilroy/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gilroy/Gilroy-ExtraBold.woff') format('woff'),
		url('../fonts/Gilroy/Gilroy-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/Gilroy-Heavy.eot');
	src: local('Gilroy Heavy'), local('Gilroy-Heavy'),
		url('../fonts/Gilroy/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gilroy/Gilroy-Heavy.woff') format('woff'),
		url('../fonts/Gilroy/Gilroy-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/Gilroy-SemiBold.eot');
	src: local('Gilroy SemiBold'), local('Gilroy-SemiBold'),
		url('../fonts/Gilroy/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gilroy/Gilroy-SemiBold.woff') format('woff'),
		url('../fonts/Gilroy/Gilroy-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/Gilroy-Light.eot');
	src: local('Gilroy Light'), local('Gilroy-Light'),
		url('../fonts/Gilroy/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gilroy/Gilroy-Light.woff') format('woff'),
		url('../fonts/Gilroy/Gilroy-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/Gilroy-Regular.eot');
	src: local('Gilroy Regular'), local('Gilroy-Regular'),
		url('../fonts/Gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gilroy/Gilroy-Regular.woff') format('woff'),
		url('../fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/Gilroy-Medium.eot');
	src: local('Gilroy Medium'), local('Gilroy-Medium'),
		url('../fonts/Gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gilroy/Gilroy-Medium.woff') format('woff'),
		url('../fonts/Gilroy/Gilroy-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}


@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/Gilroy-UltraLight.eot');
	src: local('Gilroy UltraLight'), local('Gilroy-UltraLight'),
		url('../fonts/Gilroy/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gilroy/Gilroy-UltraLight.woff') format('woff'),
		url('../fonts/Gilroy/Gilroy-UltraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/Gilroy-Bold.eot');
	src: local('Gilroy Bold'), local('Gilroy-Bold'),
		url('../fonts/Gilroy/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gilroy/Gilroy-Bold.woff') format('woff'),
		url('../fonts/Gilroy/Gilroy-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/Gilroy-Thin.eot');
	src: local('Gilroy Thin'), local('Gilroy-Thin'),
		url('../fonts/Gilroy/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gilroy/Gilroy-Thin.woff') format('woff'),
		url('../fonts/Gilroy/Gilroy-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('../fonts/Gilroy/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gilroy/Gilroy-Black.woff') format('woff'),
		url('../fonts/Gilroy/Gilroy-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}





@font-face {
	font-family: 'Circular Std';
	src: url('../fonts/Circular Std/CircularStd-Black.eot');
	src: local('Circular Std Black'), local('CircularStd-Black'),
		url('../fonts/Circular Std/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Circular Std/CircularStd-Black.woff2') format('woff2'),
		url('../fonts/Circular Std/CircularStd-Black.woff') format('woff'),
		url('../fonts/Circular Std/CircularStd-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Circular Std';
	src: url('../fonts/Circular Std/CircularStd-Medium.eot');
	src: local('Circular Std Medium'), local('CircularStd-Medium'),
		url('../fonts/Circular Std/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Circular Std/CircularStd-Medium.woff2') format('woff2'),
		url('../fonts/Circular Std/CircularStd-Medium.woff') format('woff'),
		url('../fonts/Circular Std/CircularStd-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Circular Std';
	src: url('../fonts/Circular Std/CircularStd-Bold.eot');
	src: local('Circular Std Bold'), local('CircularStd-Bold'),
		url('../fonts/Circular Std/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Circular Std/CircularStd-Bold.woff2') format('woff2'),
		url('../fonts/Circular Std/CircularStd-Bold.woff') format('woff'),
		url('../fonts/Circular Std/CircularStd-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Circular Std';
	src: url('../fonts/Circular Std/CircularStd-Book.eot');
	src: local('Circular Std Book'), local('CircularStd-Book'),
		url('../fonts/Circular Std/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Circular Std/CircularStd-Book.woff2') format('woff2'),
		url('../fonts/Circular Std/CircularStd-Book.woff') format('woff'),
		url('../fonts/Circular Std/CircularStd-Book.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}