.footer {
	background-color: $mainColor2;
	padding: 0 0 5px;
	&__nav {
		padding-bottom: 5px;
		padding-top: 15px;
		border-bottom: 1px solid #05037c;
		border-top: 1px solid #05037c;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	&__list {
		flex: 0 1 20%;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
		//border: 1px solid red;
	}
	&__link {
		display: block;
		text-align: center;
		&:hover {
			color: $mainColor;
			text-decoration: underline;
		}
	}
	
	&__text {
		margin: 5px auto;
		opacity: 0.3;

	}
}