@media (max-width: 1220px) {
	.contanier {
		max-width: 990px;
	}
	.header {
		padding: 7px 0 9px;
		&-top {
			&__local {
				span {
					display: none;
				}
			}
			&__sale {
				span {
					display: none;
				}
			}
		}
		&-body {
			flex-direction: column;
			align-items: stretch;
			&__btn {
				position: absolute;
				top: 7px;
				left: 298px;
			}
		}
	}
	.promo {
		padding: 100px 0 100px;
		&__content {
			margin-left: 80px;
		}
		&__statistic {
			margin-left: 80px;
		}
	}
	.gallery {
		&__flex {
			& :nth-child(1) { order: 1; }
			& :nth-child(2) { order: 3; }
			& :nth-child(3) { order: 2; }
			& :nth-child(4) { order: 4; }
			& :nth-child(5) { order: 5; }
			& :nth-child(6) { order: 7; }
			& :nth-child(7) { order: 6; }
			& :nth-child(8) { order: 8; }
		}
		
		&__card {
			flex: 1 0 100%;
		}
	}
	.wrapper {
		&__img {
			&-bottom {
				width: 100%;
			}
		}
	}
}


@media (max-width: 992px) {
	.contanier {
		max-width: 760px;
	}
	.promo {
		padding: 70px 0 70px;
		&__content {
			margin-left: 20px;
			max-width: 500px;
		}
		&__statistic {
			margin-left: 20px;
		}
	}
	.footer {
	&__list {
		flex: 0 1 33.333%;
	}
	}
	
	.about {
	padding: 10px 0 ;
	&__grid {
		grid-template-columns: repeat(2, 1fr);
	}
	&__reward {
		&-item {
			flex: 1 0 100%;
		}
	}
	}
	.tabs {
		&__btn {
		padding: 0.5rem 0.5rem;
		margin-left: 5px;
		max-width: 150px;
		font-size: 16px;
		}
	}
	.modal {
		&-content {
			width: 80%;
		}
	}
	.furniture {
		&-title {
			margin: 30px 0;
		}
		&__flex {
			flex-direction: column;
		}
		&__info {
			margin: 10px 0;
		}
	}
	.catalog {
		&__catalog {
			margin: 0 15px;
			&-item {
				flex: 1 1 99%;
			}
		}
	}
	.wrapper {
		&__items2 {
			flex: 0 1 29%;
		}
		&__img {
			&-bottom {
				width: 90%;
				margin: 20px auto;
			}
		}
	}
}
	

@media (max-width: 767px) {
	.contanier {
		max-width: none;
	}
	//*********************************************************
	//бургер с JQuery
	body.lock {
		overflow: hidden;
	}
	.header {
		position: relative; //-----------------------------------
		&-block {
			display: none;
		}
		&-none {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			div:not(:last-child) {
				margin-bottom: 40px;
			}

		}
		&-body {
			&__burger {
				display: block;
				position: relative;
				z-index: 5;
				width: 30px;
				height: 20px;

				&::before {
					content: '';
					background-color: $mainDarkColor;
					position: absolute;
					width: 100%;
					height: 2px;
					left: 0;
					top: -40px;
					transition: all 0.3s ease 0s;
				}

				&::after {
					content: '';
					background-color: $mainDarkColor;
					position: absolute;
					width: 100%;
					height: 2px;
					left: 0;
					bottom: 38px;
					transition: all 0.3s ease 0s;
				}

				& span {
					position: absolute;
					background-color: $mainDarkColor;
					width: 100%;
					height: 2px;
					left: 0;
					top: -30px;
					transition: all 0.5s ease 0s;
				}

				&.active span {
					transform: scale(0);
				}

				&.active::before {
					transform: rotate(45deg);
					top: -42px;
				}

				&.active::after {
					transform: rotate(-45deg);
					bottom: 60px;
				}
			}

			&__nav {
				position: fixed;
				overflow: auto;
				width: 100%;
				height: 100%;
				left: -100%;
				top: 0;
				padding: 140px 10px 20px;
				display: block;
				//text-align: center;
				transition: all 0.3s ease 0s;
				flex-direction: column;
				&.active {
					background-color: rgba($color: #ffff, $alpha: .95) ;
					left: 0;
				}
				&.close {
					left: -100%;
				}
			}
			&__list {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin: 40px auto;
			}
			&__form {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin: 40px auto;
				input {
					width: 80%;
				}
				
			}
			&__btn {
				position: absolute;
				top: 7px;
				left: 81%;
			}
		}
		&-top {
			&__content {
				justify-content: center;
				margin-bottom: 0;

			}
			&__logo {
				position: relative;
				z-index: 5;
				flex: 0 0 150px;
			}
			&__sale span, &__local span {
				display: block;
			}
		}
	//бургер с JQuery
	//********************************************
	}
	.title-i {
		font-size: 17px;
	}
	.title-g {
		font-size: 28px;
		&-fz24 {
			font-size: 20px;
		}
		&-fz21 {
			font-size: 20px;
		}
		&-fz16 {
			font-size: 16px;
		}
	}
	.promo {
		padding: 40px 0 40px;
		&__content {
			margin-left: 10px;

		}
		&__subtitle {
			a:not(:last-of-type) {
				margin-bottom: 10px;
			}
		}

		&__statistic {
			margin-left: 10px;
		}
		&__cash {
			width: 72px;
			height: 67px;
			top: 75%;
		transform: translateY(-75%); 
		}
	}
	.gallery {
	
		&__content {
			flex: 1 1 5%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-left: 1;
			margin-right: 1;
			div:not(:last-of-type) {
				margin-bottom: 5px;
			}
		}
		&__text {
			display: none;
		}
		&__number {
			display: none;
				}
		&__card {
			flex: 1 0 100%;
		}
		&__link {
			margin-top: 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid $mainDarkColor;
			width: 40px;
			height: 20px;

	}
}
	.video {
		iframe {
			width: 100%; 
			height: 500px
		}
		&__btn {
			width: 212px;
			height: 44px;
			position: absolute;
			left: 50%;
			transform:translateX(-50%); 
			bottom: 5%;
			border: 1px solid #FFFFFF;
			border-radius: 22px;
			background: linear-gradient(0deg, rgba(0, 69, 131, 0.35), rgba(0, 69, 131, 0.35)), url(image.png);
		}
	}
	.footer {
		&__list {
			flex: 0 1 50%;
		}
	}
	.tabs {
		&__btn {
		margin-left: 3px;
		font-size: 14px;
		}
	}
	.modal {
		&-content {
			width: 95%;
		}
	}
	.furniture {
		padding: 0;
		&-title {
			margin: 20px 0;
		}
	}
	.contacts {
		padding: 0;
		&-title {
			margin: 10px 0 0;
			text-align: center;
		}
		&__flex {
			padding: 0 0 30px;
			flex-direction: column;
			align-items: center;
		}
		&__row {
			text-align: center;
			div:not(:last-of-type) {
				margin-bottom: 20px;
				margin-top: 20px;
			}
		}
		&__subtitle {
			padding-top: 30px;
		}
		
	}
	.catalog {
		padding: 0 0 20px 0;

		&__banner {
			flex: 0 0 150px;
			&-btn {
				margin: 15px 0 0;
				width: 155px;
				padding: 15px 0;
			}
		}
		&__catalog {
			margin: 0 5px;
			&-items {
				margin: 0px 20px 20px;
			}
			&-item {
				margin: 0 10px;
			}
		}
	}
	.wrapper {
		margin: 15px;
		&__items2 {
			flex: 0 1 44%;
		}
		
	}
}
@media (max-width: 650px) {

	.catalog {
		&__catalog {
			&-wrapper {
			flex: 1 1 50%;
			}
		}
	}
	.wrapper {
		margin: 5px;
		&__title {
			text-align: center;
		}
		&__img {
			display: none;
			&-bottom {
				display: none;
			}
		}
		&__content {
			display: none;
		}
		&__items2 {
			flex: 0 1 100%;
		}
		&__subtitle {
			margin: 10px;
		}
	}



}
@media (max-width: 550px) {
	.gallery {
		&__content {
			flex: 1 1 100%;
			padding: 10px 0;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: all .3s;
			div:not(:last-of-type) {
				margin-bottom: 10px;
			}
			&:hover {
				background-color: $mainColor;
				cursor: pointer;
			}
		}
		&__img  {
			display: none;
		}
		&__text {
			display: none;
		}
		&__number {
			display: none;
				}
		
		
		&__card {
			flex: 1 0 100%;
		}
		&__link {
			display: none;
		}
	}
}